*{
  margin:0px;
}

.App {
  display: grid;
  padding: 10%;
  place-content: center;
  background: linear-gradient(#ffcc6e, #ffab6e);
}

.phone {
  display: grid;
  place-content: center;
  background: rgb(233, 233, 233);
  border: 1px solid #97a0a5;
  height: 736px;
  width: 414px;
  border-radius: 40px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.screen {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  place-content: bottom;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  height: 600px;
  width: 360px;
}

/* Header */

.header{
  display:grid;
  grid-template-columns: 280px 1fr;
  border-bottom: 1px solid black;
}

